body {
  margin: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
  width:auto;
}

.scaleTicket{
  transition:all 0.15s;
}

.scaleTicket:hover{
  transform:scale(1.02);
}
.navDropdown{
    top:52px !important;
    left:-580px !important;
    width:620px;
}

.dropdownTopElements{
  display:none;
}

@media (max-width: 992px){
  .containerOne{
    display:none !important;
  }
  .dropdownTopElements{
    display:block;
  }
  .hamburger{
    font-size:23px;
  }
}